NODE_ENV=development
PORT=4003
MONGODB_URI=mongodb://localhost:27017/patient-db
JWT_ACCESS_SECRET=access_secret_123456789_secure_key_service
JWT_SECRET=your_super_secret_jwt_key_here
CORS_ORIGIN=http://localhost:3000
MAX_REPORT_SIZE_MB=10
